﻿@model QAEngineProject.Models.Question
@{
    ViewBag.Title = "Details";
}

<h2 class="h2">Details</h2>

<div>
    <h3 class="h3">Question by @Model.UserName</h3>
    <h4 class="h4">Title: @Model.Title</h4>
    <p>Date: @Model.Date</p>
    <p class="text-primary">@Model.Content</p>
    <p>View Count: @Model.Views</p>
    <p>Upvotes: @Model.Upvotes</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Home/UpvoteQuestion/@Model.QuestionId">Upvote</a>
    }
</div>
<div>
    <table class="table-bordered">
        <caption class="breadcrumb">Comments</caption>
        @foreach (var item in ViewBag.QComments)
        {
            <tr>
                <th>
                    User name
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Date
                </th>
            </tr>
            <tr>
                <td>@item.UserName</td>
                <td>@item.Content</td>
                <td>@item.Date</td>
            </tr>
        }
    </table>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Comment", "NewQuestionComment", new { id = Model.QuestionId })
        </p>
    }
</div>
<div>
    <table class="table-bordered">
        <caption class="breadcrumb">Answers</caption>
        @foreach (var item in ViewBag.Answers)
        {
            <tr>
                <th>
                    User name
                </th>
                <th>
                    Answer
                </th>
                <th>
                    Date
                </th>
            </tr>
            <tr>
                <td>@item.UserName</td>
                <td>@item.Content</td>
                <td>@item.Date</td>
            </tr>
            <tr>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Upvote", "UpvoteAnswer", new { id = item.AnswerId })
                    </td>
                }
                    <td>
                        Upvotes: @item.Upvotes
                    </td>
                <td>
                    <a href="/Home/ViewAnswerComments/@item.AnswerId">View Comments</a>
                </td>
            </tr>
            }
    </table>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Add an answer", "NewAnswer", new { id = Model.QuestionId })
        </p>
    }
</div>
