﻿
@{
    ViewBag.Title = "Index";
}
<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create a New Question", "NewQuestion")
    </p>
}
<h2>Questions:</h2>
@{
    foreach (var item in Model)
    {
        <p><h3>Question @item.QuestionId:</h3></p>
        <h4>@item.Title</h4>
        <p>@item.Content</p>
        <a class="panel" href="/Home/Details/@item.QuestionId">Details</a>
        if (User.Identity.IsAuthenticated)
        {
            Html.ActionLink("Upvote", "UpvoteQuestion", new { id = item.QuestionId });
        }
    }
}