﻿@model QAEngineProject.Models.QuestionComment
@{
    ViewBag.Title = "NewQuestionComment";
}

<h2>NewQuestionComment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="hidden">
            <input type="hidden" name="QuestionId" id="QuestionId" value="@ViewBag.QuestionId" />
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Content)
                <br />
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>


        <div class="hidden">
            <input type="hidden" name="UserName" id="UserName" value="@User.Identity.Name" />
        </div>

        <div class="hidden">
            <input type="hidden" name="Date" id="Date" value="@DateTime.Now" />
        </div>


        <div class="form-group">
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>
}