﻿@model List<QAEngineProject.Models.QuestionComment>
@{
    ViewBag.Title = "ViewQuestionComments";
}

<h2>View Question's Comments</h2>

<table class="table-bordered">
    <caption>Comments for Question "@ViewBag.CurrentQuestion.Title"</caption>
    <tr>
        <th>
            UserName
        </th>
        <th>
            Comment
        </th>
        <th>
            Date
        </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @item.UserName
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.Date
            </td>
        }
    </tr>
</table>
@if (User.Identity.IsAuthenticated) {
    Html.ActionLink("Add Comment", "NewQuestionComment", new { id = ViewBag.CurrentQuestion.QuestionId });
}