﻿@model List<QAEngineProject.Models.AnswerComment>
@{
    ViewBag.Title = "ViewAnswerComments";
}

<h2>View Answer's Comments</h2>

<table class="table-bordered">
    <caption>Comments for Answer "@ViewBag.CurrentAnswer.Content"</caption>
    <tr>
        <th>
            UserName
        </th>
        <th>
            Comment
        </th>
        <th>
            Date
        </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @item.UserName
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.Date
            </td>
        }
    </tr>
</table>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add Comment", "NewAnswerComment", new { id = ViewBag.CurrentAnswer.AnswerId });
}